body {
    background-color: #f7ffab;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 40px;
}

.intro {
    font-size: 26px;
    margin-bottom: 20px;
}

.img-1,
.img-2 {
    height: 180px;
    border-radius: 10px;
}

.img-1 {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.img-desc {
    font-size: 17px;
    line-height: 1.5;
}